COMPOSE_PROJECT_NAME=pic-gallery-prod
POSTGRES_DB=pic_gallery
POSTGRES_USER=pic_gallery
POSTGRES_PASSWORD=pic_gallery_prod_password_replace_before_launch
POSTGRES_PORT=5432
REDIS_PORT=6379
API_PORT=8080
NGINX_PORT=80
PROMETHEUS_PORT=9090
PIC_GALLERY_CONFIG_FILE=../../configs/config.compose.prod.yaml
